*
{
    margin: 0;
    padding: 0;
}
body
{
    background: linear-gradient(to bottom,#FFE4E1, rgb(128, 0, 64));
    height: 2500px;   
}
nav
{
  padding: 30px 0;
  width: 100%;
  overflow: hidden;
}
.contenu
  {
    margin-top: 20px;
    border: 1px solid  rgb(255,255,255,0.4);
    background-color: rgb(255,255,255,0.4);
    margin-left: 200px;
    margin-right: 200px;

  }
li a 
{
  color:black;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  padding-left: 60px;
  text-align: right;


}
li {
    list-style: none;
  
  }
ul {
    display: flex;
  }
  .right {
    float: right;
    margin-right: 33px;
    margin-top: -68px;

  }
  #weird
  {
    font-family: 'Freebooter Script', sans-serif;
    font-size: 30pt;
    
    font-weight: normal;
    font-style: italic;
    color: #B29EAD;

  }
  #normal
  {
    font-family: 'Gabrielle', sans-serif;
    font-size: 30pt;
    font-weight: normal;
    font-style: italic;     
    color:#B29EAD;                                                                           
  }
  img
  {
    margin-top: 13% ;
    margin-left: 1%;
    height: 30%;
    width: 40%;
  }
  #titre1{
    margin-left: 62%;
    text-align: left;
    margin-top: -37% ;
    font-size: 60pt;
    color: #DBC0C6;
    text-shadow: 4px 4px 4px #767489;
    font-family: 'Gabrielle', sans-serif;



  }
  .c
  {
    text-align: left;
    margin-top: 2% ;
    margin-left: 50%;
    margin-right: 20px;
    font-size: 15pt;
    font-family: "DancingScript";
    text-align: justify;
    
  }
  #titre
  {
    margin-top: 13%
  }
  #book
  {
    margin-top: 40% ;
    margin-left: 30%;
    height: 30%;
    width: 40%;
  }
  #titre2
  {
    font-size: 50pt;
    color: #DBC0C6;
    text-shadow: 4px 4px 4px #c077e2;
    font-family: 'Gabrielle', sans-serif;
    text-align: center;
  }
  .d{
    margin-top: 2% ;
     text-align: center;
     font-size: 15pt;
     font-family: "DancingScript";
  }
 

   
  